@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");

:root {
  --accent: #9fd3c7;
  --space: 16px; 
}

header {
  margin-top: 2rem;
}

.alert-error {
  color: red;
  border: red 1px solid;
  padding: var(--space);
}